.Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
}

.Home h1{
    max-width:100%;
    font-family: 'Montserrat', sans-serif;
    color: #dbba6f;
    font-weight: 400;
}

.Home .pg-title{
    text-align: center;
    max-width: 100%;
    z-index: 2;
    margin-bottom: 1em;
}
.event-block{
    display: flex;
    justify-content: center;
    min-height:25em;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.event-block.odd {
    flex-direction: row-reverse; /* Reverse the order for odd blocks */
}

.block-img{ 
    display: flex;
    max-width:30%;
    aspect-ratio: 16/9; 
}

.block-img img{
    display: block;
    max-width: 100%;
    max-height: 100%; 
    width: auto;
    height: auto;
    object-fit: contain;
}

.block-content{
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    text-align: center;
    box-sizing: border-box;
}

.block-content ul{
    list-style: none;
}

.block-content h2{
    margin-bottom: 1em;
}

.block-content li{
    display: flex;
    justify-content: center;
}

.block-content p{
    width: 75%;
}

@media  (max-width:1024px){

    .event-block, .event-block.odd{
        flex-direction: column;
       
    }
    .block-content, .block-img{
        width: 100%;
        max-width: 100%;
      
    }

    .block-img{
        justify-content: center;
    }
    

    .block-content{
        order:-1;
        margin-bottom: 1em;
    }
}



